@import "../../../vars.scss";

header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: $purple-header;
  color: #fff;
  height: 56px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;

  .logo {
    flex-shrink: 0;
    img {
      height: 24px;
      max-width: 100%;
      width: auto;
    }
  }
}

.background {
  background-color: $background-purple;
  height: 720px;
  width: 100%;
  position: relative;
}

.film-container {
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: 100px;
  top: 50px;
}

.film-cover {
  margin-right: 20px;
}

.film-cover img {
  display: block;
  width: 500px;
  height: 720px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}

.film-title h1 {
  font-size: 40px;
  color: $synopsis-text;
  margin: 0;
  padding-top: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.film-title h2 {
  font-size: 20px;
  color: $synopsis-text;
  margin: 5px 0 0 0;
  font-weight: normal;
}

.user-rating {
  width: 50px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-rating {
  background-color: rgba(0, 0, 0, 0.3);

  padding: 2px;
  border-radius: 80%;
  width: 60px;
  height: 60px;
  margin-top: 30px;
  margin-left: 1px;
}

.rating-text {
  margin-left: 80px;
  margin-top: -40px;
}

.rating-text p {
  font-size: 18px;
  color: $synopsis-text;
  margin: 0;
  font-weight: normal;
}

.synopsis {
  margin-top: 35px;
}

.synopsis h2 {
  font-size: 30px;
  color: $synopsis-text;
  margin-bottom: 10px;
  font-weight: bold;
}

.synopsis p {
  font-size: 20px;
  color: $description-synopsis;
  margin-bottom: 20px;
  line-height: 1.8;
  word-wrap: break-word;
  white-space: pre-wrap;
  width: 720px;
}

.subtitles-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 50px;
}

.subtitles-row {
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: normal;
  margin-right: 10px;
}

.top-row {
  margin-bottom: 20px;
  margin-left: 1px;
}

.bottom-row {
  margin-top: 10px;
  margin-left: 1px;
}

.subtitles-row p {
  font-size: 20px;
  color: $synopsis-text;
  margin: 0;
  margin-bottom: 5px;
  font-weight: bold;
}

.subtitles-row h3 {
  font-size: 12px;
  color: $synopsis-text;
  margin: 0;
  font-weight: normal;
}

.top-row-two {
  margin-left: 120px;
}

.top-row-three {
  margin-left: 88px;
}

.bottom-row-two {
  margin-left: 120px;
}

.background-secondary {
  background-color: #f0f0f0;
  padding: 20px;

  .film-carousel {
    margin-top: 20px;

    h4 {
      font-size: 24px;
      color: $black-text;
      margin-bottom: 15px;
      margin-top: 100px;
      margin-left: 100px;
    }

    .carousel-wrapper {
      overflow-x: auto;
      white-space: nowrap;
      width: 80%;
      margin: 0 auto;
      padding: 10px 0;
      transform: translateX(-5%);

      ::-webkit-scrollbar {
        height: 12px;
      }

      ::-webkit-scrollbar-track {
        background: #dddddd;
        border-radius: 12px;
      }

      ::-webkit-scrollbar-thumb {
        background: #adadad;
        border-radius: 12px;
      }

      ::-webkit-scrollbar-thumb:hover {
        background: #888888;
      }

      scrollbar-width: thin;
      scrollbar-color: #adadad #dddddd;
    }

    .carousel {
      display: inline-flex;
      gap: 10px;
      justify-content: center;
      width: 100%;

      .carousel-item {
        background-color: #ffffff;
        border-radius: 8px;
        width: 191px;
        height: 336px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      img {
        width: 175px;
        height: 222px;
        object-fit: cover;
      }

      .carousel-content {
        text-align: center;
        margin-top: 10px;

        .carousel-title {
          font-size: 16px;
          color: $black-text;
          margin-bottom: 5px;
        }

        .carousel-subtitle {
          font-size: 14px;
          color: #666666;
        }
      }
    }
  }

  .section-trailer {
    margin-left: 100px;
    margin-top: 20px;
    margin-top: 20px;
    font-size: 28px;
    color: $black-text;
  }

  .section-recommendations {
    margin-left: 5px;
    margin-top: 20px;
    margin-top: 20px;
    font-size: 35px;
    color: $black-text;
  }

  .recommendations-carousel {
    display: flex;
    gap: 50px;
  }

  .recommendation-item {
    img {
      width: 175px;
      height: 280px;
      object-fit: cover;
      border-radius: 5px;
      margin-top: -30px;
    }

    .recommendation-content {
      margin-top: 10px;

      .recommendation-title {
        font-size: 16px;
        color: $black-text;
      }

      .recommendation-subtitle {
        font-size: 14px;
        color: #666666;
        margin-top: -20px;
      }
    }
  }
}
