@import "../../../vars.scss";

header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: $purple-header;
  color: #fff;
  height: 56px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;

  .logo {
    flex-shrink: 0;
    img {
      height: 24px;
      max-width: 100%;
      width: auto;
    }
  }
}

.background {
  background-color: $background-purple;
  height: 720px;
  width: 100%;
  position: relative;
}

.film-container {
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: 100px;
  top: 50px;
}

.film-cover {
  margin-right: 20px;
}

.film-cover img {
  display: block;
  width: 500px;
  height: 720px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}

.film-title h1 {
  font-size: 40px;
  color: $synopsis-text;
  margin: 0;
  padding-top: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.film-title h2 {
  font-size: 20px;
  color: $synopsis-text;
  margin: 5px 0 0 0;
  font-weight: normal;
}


circle-progress svg text {
  dominant-baseline: middle;
  text-anchor: middle;
}


.user-rating {
  width: 50px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-rating {
  background-color: rgba(0, 0, 0, 0.3);

  padding: 2px;
  border-radius: 80%;
  width: 50px;
  height: 50px;
  margin-top: 30px;
  margin-left: 1px;
}

.rating-text {
  margin-left: 80px;
  margin-top: -40px;
}

.rating-text p {
  font-size: 18px;
  color: $synopsis-text;
  margin: 0;
  font-weight: normal;
}

.synopsis {
  margin-top: 35px;
}

.synopsis h2 {
  font-size: 30px;
  color: $synopsis-text;
  margin-bottom: 10px;
  font-weight: bold;
}

.synopsis p {
  font-size: 20px;
  color: $description-synopsis;
  margin-bottom: 20px;
  line-height: 1.8;
  word-wrap: break-word;
  white-space: pre-wrap;
  width: 720px;
}

.subtitles-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 25px;
  margin-top: 50px;
}

.subtitles-row {
  display: contents;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: normal;
  margin-right: 100px;
}

.top-row {
  margin-bottom: 20px;
  margin-left: 1px;
}

.bottom-row {
  margin-top: 10px;
  margin-left: 1px;
}

.subtitles-row p {
  font-size: 20px;
  color: $synopsis-text;
  margin: 0;
  margin-bottom: 5px;
  font-weight: bold;
}

.subtitles-row h3 {
  font-size: 12px;
  color: $synopsis-text;
  margin: 0;
  font-weight: normal;
}

.top-row-two {
  margin-left: 120px;
}

.top-row-three {
  margin-left: 0px;
}

.bottom-row-two {
  margin-left: 120px;
}

.background-secondary {
  background-color: #f0f0f0;
  padding: 20px;

  .film-carousel {
    margin-top: 20px;

    h4 {
      font-size: 24px;
      color: $black-text;
      margin-bottom: 15px;
      margin-top: 100px;
      margin-left: 100px;
    }

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 8px;
      margin-bottom: 10px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    }

    .carousel-wrapper {
      overflow-x: auto;
      white-space: nowrap;
      width: 90%;
      margin: 0 auto;
      padding: 10px 0;

      ::-webkit-scrollbar {
        height: 12px;
      }

      ::-webkit-scrollbar-track {
        background: #dddddd;
        border-radius: 12px;
      }

      ::-webkit-scrollbar-thumb {
        background: #adadad;
        border-radius: 12px;
      }

      ::-webkit-scrollbar-thumb:hover {
        background: #888888;
      }

      scrollbar-width: thin;
      scrollbar-color: #adadad #dddddd;
    }

    .carousel {
      display: flex;
      gap: 10px;
      justify-content: flex-start;
      width: max-content;

      .carousel-item {
        background-color: #ffffff;
        border-radius: 8px;
        width: 191px;
        height: 336px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
      }

      .carousel-content {
        text-align: center;
        margin-top: 10px;
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
      }

      .carousel-title {
        font-size: 16px;
        color: $black-text;
        margin-bottom: 5px;
      }

      .carousel-subtitle {
        font-size: 14px;
        color: #666666;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: -1px;
      }

      .carousel-item img {
        width: 175px;
        height: 222px;
        object-fit: cover;
      }
    }
  }
  .section-trailer {
    margin-left: 100px;
    margin-top: 20px;
    margin-top: 20px;
    font-size: 28px;
    color: $black-text;
  }

  .section-recommendations {
    margin-left: 100px;
    margin-top: 20px;
    font-size: 35px;
    color: $black-text;
  }

  .recommendations-carousel {
    display: flex;
    gap: 50px;
    overflow-x: auto;
  }

  .recommendation-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;

    img {
      width: 175px;
      height: 280px;
      object-fit: cover;
      border-radius: 10px;
      margin-top: -30px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
      object-fit: cover;
      margin-top: 10px;
    }

    .recommendation-content {
      margin-top: 10px;
      text-align: center;

      .recommendation-title {
        font-size: 16px;
        color: $black-text;
        white-space: normal;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
        margin-bottom: 0.5rem;
      }

      .recommendation-subtitle {
        font-size: 14px;
        color: #666666;
        margin-top: 10px;
      }
    }
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (max-width: 900px) {
  .background-secondary {
    padding: 10px;
    margin-left: -20;
    margin-top: -70px;
  }

  .film-carousel {
    margin-top: 20px;
    width: 100%;
    padding: 0;
  }

  .background {
    height: 1000px;
  }

  .film-container {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px;
  }

  .film-cover {
    width: 60%;
    margin: 0 auto;
  }

  .film-cover img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-left: -50px;
    margin-top: -20px;
  }

  .film-title {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .film-title h1 {
    font-size: 24px;
    margin-top: 10px;
    margin-left: -90px;
    text-align: left;
  }

  .film-title h2 {
    text-align: left;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    margin-left: -90px;
    margin-top: 10px;
    font-size: 15px;
  }

  .subtitles-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
    margin: 0;
    margin-left: -100px;
  }

  .subtitles-row {
    font-size: 20px;
    color: #ffffff;
    margin: 0;
    margin-bottom: 5px;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }

  .item {
    flex: 1;
    text-align: left;
    box-sizing: border-box;
    margin: 0;
  }

  .top-row {
    display: flex;
    width: 100%;
  }

  .bottom-row {
    display: flex;
    width: 100%;
  }

  .director {
    display: none;
  }

  .user-rating {
    width: 50px;
    height: 50px;
    margin: 15px 0 0 0;
    margin-left: -90px;
    margin-top: 20px;
  }

  .background-secondary {
    .film-carousel {
      .carousel-wrapper {
        width: 100%;
        padding: 5px 0;
        margin-left: 10px;
      }
    }
  }

  .rating-text {
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 10px;
    margin-top: -35px;
    margin-left: -110px;
  }

  .synopsis {
    padding: 0 10px;
    margin: 0;
  }

  .synopsis h2 {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
    margin-left: -370px;
    margin-top: 50px;
  }

  .synopsis p {
    font-size: 16px;
    width: 130%;
    word-wrap: break-word;
    white-space: normal;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-left: -100px;
  }

  .subtitles-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }

  .background-secondary .film-carousel h4 {
    font-size: 24px !important;
    color: #131313 !important;
    margin-bottom: 15px !important;
    margin-top: 100px !important;
    margin-left: 30px !important;
  }

  .carousel-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;

    ::-webkit-scrollbar {
      height: 12px;
    }

    ::-webkit-scrollbar-track {
      background: #dddddd;
      border-radius: 12px;
    }

    ::-webkit-scrollbar-thumb {
      background: #adadad;
      border-radius: 12px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #888888;
    }

    scrollbar-width: thin;
    scrollbar-color: #adadad #dddddd;
  }

  .carousel {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    width: max-content;
  }

  .carousel-item {
    background-color: #ffffff;
    border-radius: 8px;
    width: 150px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }

  .carousel-item img {
    width: 150px;
    height: auto;
    object-fit: cover;
  }

  .carousel-content {
    text-align: center;
    margin-top: 10px;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }

  .carousel-title {
    font-size: 14px;
    color: $black-text;
    margin-bottom: 5px;
  }

  .carousel-subtitle {
    font-size: 12px;
    color: #666666;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: -1px;
  }

  .section-trailer {
    margin-left: -250px !important;
    font-size: 24px;
    text-align: center;
    iframe {
      width: 324px;
      height: 182px;
      border: none;
      border-radius: 8px;
      margin-left: 250px;
    }
  }

  .recommendations-carousel {
    display: flex !important;
    flex-wrap: wrap;
    gap: 25px !important;
    margin-left: -80px;

    .recommendation-item {
      width: calc(50% - 20px);
      margin-bottom: 20px;

      img {
        width: 155px;
        height: 240px;

        margin-top: 0;
      }
    }
  }

  .section-trailer {
    .video-wrapper {
      img {
        width: 324px;
        margin-left: 271px;
        height: 182px;
      }
    }
  }

  .background-secondary[_ngcontent-ng-c4150485114]
    .section-recommendations[_ngcontent-ng-c4150485114] {
    margin-left: -300px !important;
    margin-top: 20px;
    font-size: 35px;
    color: #131313;
  }

  h6 {
    font-size: 22px;
    margin-left: -60px;
    margin-top: 50px;
  }
}
