<header class="header">
  <div class="logo">
    <img src="../../../assets/images/logo.tmdb.png" alt="Logotipo" />
  </div>
</header>

<div class="background">
  <div class="film-container">
    <div class="film-cover">
      <img [src]="getPosterUrl()" alt="film-cover" />
    </div>

    <div class="film-title">
      <h1>{{  getTitle() || "Título não disponível" }}</h1>
      <h2>
        {{ classification }} Anos • {{ releaseDate }} ({{ country }}) •
        {{ formatGenres(movie?.genres) }} • {{ formatRuntime(movie?.runtime) }}
      </h2>
      <div class="user-rating">
        <circle-progress
          [percent]="(movie?.vote_average ?? 0) * 10"
          [radius]="28"
          [outerStrokeWidth]="6"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#14FF00'"
          [innerStrokeColor]="'#transparent'"
          [animation]="true"
          [animationDuration]="300"
          [titleColor]="'#14FF00'"
          [subtitleColor]="'#14FF00'"
          [titleFontSize]="'15px'"
          [subtitleFontSize]="'10px'"
        >
        </circle-progress>
      </div>
      <div class="rating-text">
        <p>Avaliação dos usuários</p>
      </div>
      <div class="synopsis">
        <h2>Sinopse</h2>
        <p>{{ getOverview() }}</p>
      </div>
      <div class="subtitles-container">
        <div class="subtitles-row top-row">
          <div class="item">
            <p *ngIf="cast[0]?.name">{{ cast[0]?.name }}</p>
            <h3 *ngIf="cast[0]?.name">Personagens</h3>
          </div>
          <div class="subtitles-row top-row-two">
            <div class="item">
              <p *ngIf="cast[1]?.name">{{ cast[1]?.name }}</p>
              <h3 *ngIf="cast[1]?.name">Personagens</h3>
            </div>
          </div>
          <div class="subtitles-row top-row-three">
            <div class="item">
              <p *ngIf="directors">{{ directors }}</p>
              <h3 *ngIf="directors">Diretor</h3>
            </div>
          </div>
        </div>
        <div class="subtitles-row bottom-row">
          <div class="item">
            <p *ngIf="writers[0]">{{ writers[0] }}</p>
            <h3 *ngIf="writers[0]">Roteiro</h3>
          </div>
          <div class="subtitles-row bottom-row-two">
            <div class="item">
              <p *ngIf="writers[1]">{{ writers[1] }}</p>
              <h3 *ngIf="writers[1]">Roteiro</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="background-secondary">
  <div class="film-carousel">
    <h4>Elenco original</h4>
    <div #carouselWrapper class="carousel-wrapper">
      <div class="carousel">
        <div class="carousel-item" *ngFor="let actor of cast">
          <img
            [src]="getActorImageUrl(actor.profile_path)"
            alt="{{ actor.name }}"
          />
          <div class="carousel-content">
            <h5 class="carousel-title">{{ actor.name }}</h5>
            <p class="carousel-subtitle">{{ actor.character }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-trailer">
    <h5>Trailer</h5>
    <div class="video-wrapper">
      <!-- Usando *ngIf para verificar se há um trailer -->
      <ng-container *ngIf="hasTrailer; else noTrailer">
        <iframe
          [src]="(trailerUrl || '') | safeUrl"
          width="907"
          height="510"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </ng-container>
      <!-- Imagem padrão quando não há trailer -->
      <ng-template #noTrailer>
        <img [src]="noTrailerImageUrl" alt="Trailer não disponível" width="907" height="510">
      </ng-template>
    </div>
  </div>

  <div class="section-recommendations">
    <h6>Recomendações</h6>
    <div class="recommendations-carousel">
      <div *ngFor="let recommendation of recommendations" class="recommendation-item">
        <img
          [src]="getImageUrl(recommendation.backdrop_path)"
          alt="{{ recommendation.title }}"
          width="300"
          height="450"
        />
        <div class="recommendation-content">
          <h5 class="recommendation-title">{{ recommendation.title }}</h5>
          <p class="recommendation-subtitle"> {{ recommendation.release_date | date: 'dd MMMM yyyy' }}</p>
        </div>
      </div>
    </div>
  </div>
